<?php declare(strict_types=1);

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit75Migration:risky' => true,
        'array_syntax' => ['syntax' => 'short'],
        'blank_line_after_opening_tag' => false,
        'declare_strict_types' => true,
        'fopen_flags' => false,
        'ordered_imports' => true,
        'protected_to_private' => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->notPath('vendor')
            ->in(__DIR__)
            ->append([__DIR__.'/GosWebSocketBundle.php', __FILE__])
    )
;
