parameters:
  level: 0
  paths:
    - %currentWorkingDirectory%/Client
    - %currentWorkingDirectory%/Command
    - %currentWorkingDirectory%/DataCollector
    - %currentWorkingDirectory%/DependencyInjection
    - %currentWorkingDirectory%/Event
    - %currentWorkingDirectory%/Periodic
    - %currentWorkingDirectory%/Pusher
    - %currentWorkingDirectory%/Router
    - %currentWorkingDirectory%/RPC
    - %currentWorkingDirectory%/Server
    - %currentWorkingDirectory%/Tests
    - %currentWorkingDirectory%/Topic
    - %currentWorkingDirectory%/GosWebSocketBundle.php
  ignoreErrors:
    # Class conditionally used, remove when dropping Symfony 4.3 support
    -
      message: '/Instantiated class Symfony\\Component\\Security\\Core\\Role\\Role not found./'
      path: %currentWorkingDirectory%/Tests/Client/ClientManipulatorTest.php
  reportUnmatchedIgnoredErrors: false
