parameters:
  level: 7
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  ignoreErrors:
    # Conditionals for interface compatibility, remove when dropping support for Symfony 5.2 and earlier
    - '/Call to an undefined method Symfony\\Component\\Security\\Core\\Authentication\\Token\\TokenInterface::getUsername\(\)\./'

    # Ignore errors for Symfony config builder
    -
      message: '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::(.*)\(\)\./'
      path: %currentWorkingDirectory%/src/DependencyInjection/Configuration.php

    # Runtime check which matches doc block
    -
      message: '/Result of && is always false./'
      path: %currentWorkingDirectory%/src/Topic/TopicManager.php

    # Dynamic properties added throughout Ratchet
    - '/Access to an undefined property PHPUnit\\Framework\\MockObject\\MockObject::\$(resourceId|PeriodicTimer|Session|WAMP)\./'
    - '/Access to an undefined property PHPUnit\\Framework\\MockObject\\MockObject&Ratchet\\ConnectionInterface::\$(resourceId|PeriodicTimer|Session|WAMP)\./'
    - '/Access to an undefined property Ratchet\\ConnectionInterface::\$(resourceId|PeriodicTimer|Session|WAMP)\./'

    # Extra arguments added to Ratchet interface implementations
    - '/Method Ratchet\\ComponentInterface::onOpen\(\) invoked with 2 parameters, 1 required\./'
    - '/Method Ratchet\\ConnectionInterface::close\(\) invoked with 1 parameter, 0 required\./'

    # The param's doc block says this should be a string, however the code explicitly handles a Topic object too
    - '/Parameter #2 \$errorUri of method Ratchet\\Wamp\\WampConnection::callError\(\) expects string, Ratchet\\Wamp\\Topic given\./'

    # The param's doc block says this should be a string, however it effectively supports arrays as well
    - '/Parameter #4 \$details of method Ratchet\\Wamp\\WampConnection::callError\(\) expects string\|null, .* given\./'

    # LoggerAwareTrait::$logger is not marked as nullable
    - '/Using nullsafe method call on non-nullable type Psr\\Log\\LoggerInterface. Use \-\> instead\./'

    # The param's doc block says this should be a subclass of the typehinted interface
    -
      message: '/Parameter #1 \$conn of method Ratchet\\Wamp\\Topic::(add|remove)\(\) expects Ratchet\\Wamp\\WampConnection, Ratchet\\ConnectionInterface given\./'
      path: %currentWorkingDirectory%/src/Topic/TopicManager.php

    # Tests error handling for untyped argument
    -
      message: '/Parameter #1 \$topic of method Gos\\Bundle\\WebSocketBundle\\Topic\\TopicManager::getTopic\(\) expects Ratchet\\Wamp\\Topic\|string, null given\./'
      path: %currentWorkingDirectory%/tests/Topic/TopicManagerTest.php

  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false
