parameters:
  level: 7
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  ignoreErrors:
    # Ignore errors for Symfony config builder
    -
      message: '/Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::(.*)\(\)\./'
      path: %currentWorkingDirectory%/src/DependencyInjection/Configuration.php

    # Runtime check which matches doc block
    -
      message: '/Result of && is always false./'
      path: %currentWorkingDirectory%/src/Periodic/DoctrinePeriodicPing.php

    # Dynamic properties added throughout Ratchet
    - '/Access to an undefined property PHPUnit\\Framework\\MockObject\\MockObject::\$(resourceId|PeriodicTimer|Session|Wamp)\./'
    - '/Access to an undefined property PHPUnit\\Framework\\MockObject\\MockObject|Ratchet\\ConnectionInterface::\$(resourceId|PeriodicTimer|Session|WAMP)\./'
    - '/Access to an undefined property PHPUnit\\Framework\\MockObject\\MockObject&Ratchet\\ConnectionInterface::\$(resourceId|PeriodicTimer|Session|WAMP)\./'
    - '/Access to an undefined property Ratchet\\ConnectionInterface::\$(resourceId|PeriodicTimer|Session|Wamp)\./'

    # Extra arguments added to Ratchet interface implementations
    - '/Method Ratchet\\ComponentInterface::onOpen\(\) invoked with 2 parameters, 1 required\./'
    - '/Method Ratchet\\ConnectionInterface::close\(\) invoked with 1 parameter, 0 required\./'

    # The param's doc block says this should be a string, however the code explicitly handles a Topic object too
    - '/Parameter #2 \$errorUri of method Ratchet\\Wamp\\WampConnection::callError\(\) expects string, Ratchet\\Wamp\\Topic given\./'

    # The param's doc block says this should be a string, however it effectively supports arrays as well
    - '/Parameter #4 \$details of method Ratchet\\Wamp\\WampConnection::callError\(\) expects string\|null, .* given\./'

    # The param's doc block says this should be a subclass of the typehinted interface
    - '/Parameter #1 \$conn of method Ratchet\\Wamp\\Topic::(add|remove)\(\) expects Ratchet\\Wamp\\WampConnection, Ratchet\\ConnectionInterface given\./'

    # Method has mixed return
    -
      message: '/Method Gos\\Bundle\\WebSocketBundle\\Server\\App\\Stack\\OriginCheck::onOpen\(\) has no return typehint specified\./'
      path: %currentWorkingDirectory%/src/Server/App/Stack/OriginCheck.php

    # Type checks are not being detected
    -
      message: '/Parameter #1 \$object of function get_class expects object, string given\./'
      path: %currentWorkingDirectory%/src/Server/App/WampApplication.php

    # Tests error handling for untyped argument
    -
      message: '/Parameter #1 \$connection of class Gos\\Bundle\\WebSocketBundle\\Periodic\\DoctrinePeriodicPing constructor expects Doctrine\\DBAL\\Connection\|Doctrine\\DBAL\\Driver\\PingableConnection, stdClass given\./'
      path: %currentWorkingDirectory%/tests/Periodic/DoctrinePeriodicPingTest.php

    # Properties in test stubs don't have typehinted properties, ignore for now
    -
      message: '/Property class@anonymous.* has no typehint specified\./'
      path: %currentWorkingDirectory%/tests/*

    # Ignore lack of json_* error checking in tests
    -
      message: '/Parameter #2 \$msg of method Gos\\Bundle\\WebSocketBundle\\Server\\WampServer::onMessage\(\) expects string, string\|false given\./'
      path: %currentWorkingDirectory%/tests/Server/WampServerTest.php
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
