name: 'Run Tests'

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.can-fail }}
    strategy:
      fail-fast: true
      matrix:
        php: [8.0]
        symfony: [5.2.*]
        composer-flags: ['--prefer-stable']
        can-fail: [false]
        extensions: ['amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip']
        include:
          - php: 8.0
            symfony: 5.2.*
            composer-flags: '--prefer-stable --prefer-lowest'
            can-fail: false
            extensions: 'amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'
          - php: 8.0
            symfony: 5.*@dev
            composer-flags: '--prefer-stable'
            can-fail: true
            extensions: 'amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'

    name: PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }} - Composer ${{ matrix.composer-flags }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-symfony-${{ matrix.symfony }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}-flags-${{ matrix.composer-flags }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          extensions: curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip
          coverage: pcov

      - name: Install dependencies
        run: |
          composer global require --no-scripts --no-plugins symfony/flex
          composer remove --dev --no-update phpstan/*
          SYMFONY_REQUIRE=${{ matrix.symfony }} composer update ${{ matrix.composer-flags }} --prefer-dist --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit
