name: 'Run Tests'

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.can-fail }}
    strategy:
      fail-fast: true
      matrix:
        php: ['7.4', '8.0', '8.1']
        symfony: ['4.4.*', '5.4.*', '6.0.*']
        composer-flags: ['--prefer-stable']
        can-fail: [false]
        has-amqp: [false]
        extensions: ['curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip']
        include:
          - php: '7.4'
            symfony: '4.4.*'
            composer-flags: '--prefer-stable --prefer-lowest'
            can-fail: false
            has-amqp: true
            extensions: 'amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'
        exclude:
          - php: '7.4'
            symfony: '6.0.*'

    name: "PHP ${{ matrix.php }}${{ matrix.has-amqp == true && ' (with AMQP)' || '' }} - Symfony ${{ matrix.symfony }}${{ matrix.composer-flags != '' && format(' - Composer {0}', matrix.composer-flags) || '' }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-symfony-${{ matrix.symfony }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}-flags-${{ matrix.composer-flags }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, flex
          extensions: ${{ matrix.extensions }}
          coverage: none

      - name: Install ReactAMQP package
        if: matrix.has-amqp == true
        run: |
          composer require --dev --no-update gos/react-amqp:^0.3

      - name: Install dependencies
        run: |
          composer remove --dev --no-update phpstan/*
          composer update ${{ matrix.composer-flags }} --prefer-dist --no-suggest
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}

      - name: Execute tests
        run: vendor/bin/phpunit
