name: 'Run Tests'

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.next-symfony }}
    strategy:
      fail-fast: true
      matrix:
        php: [7.4]
        symfony: [4.4.*, 5.0.*, 5.1.*]
        composer-flags: ['--prefer-stable']
        next-symfony: [false]
        include:
          - php: 7.4
            symfony: 4.4.*
            composer-flags: '--prefer-stable --prefer-lowest'
            next-symfony: false
          - php: 7.4
            symfony: 5.2.*@dev
            composer-flags: '--prefer-stable'
            next-symfony: true

    name: PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }} - Composer ${{ matrix.composer-flags }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-symfony-${{ matrix.symfony }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}-flags-${{ matrix.composer-flags }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, pecl
          extensions: amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip
          coverage: pcov

      - name: Install dependencies
        run: |
          composer global require --no-scripts --no-plugins symfony/flex
          composer require --dev --no-update gos/react-amqp:^0.3
          composer remove --dev --no-update phpstan/*
          SYMFONY_REQUIRE=${{ matrix.symfony }} composer update ${{ matrix.composer-flags }} --prefer-dist --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit --coverage-clover clover.xml

      - name: Upload coverage
        run: |
          wget https://github.com/scrutinizer-ci/ocular/releases/download/1.6.0/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover clover.xml
