name: 'Run Tests'

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.can-fail }}
    strategy:
      fail-fast: true
      matrix:
        php: [8.0]
        symfony: [5.3.*]
        composer-flags: ['--prefer-stable']
        can-fail: [false]
        extensions: ['curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip']
        include:
          - php: 8.0
            symfony: 5.3.*
            composer-flags: '--prefer-stable --prefer-lowest'
            can-fail: false
            extensions: 'curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'
          - php: 8.0
            symfony: 5.4.*@dev
            composer-flags: ''
            can-fail: true
            extensions: 'curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'
          - php: 8.1
            symfony: 5.3.*
            composer-flags: '--prefer-stable'
            can-fail: false
            extensions: 'curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'

    name: "PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }}${{ matrix.composer-flags != '' && format(' - Composer {0}', matrix.composer-flags) || '' }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-symfony-${{ matrix.symfony }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}-flags-${{ matrix.composer-flags }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, flex
          extensions: curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip
          coverage: none

      - name: Install dependencies
        run: |
          composer remove --dev --no-update phpstan/*
          composer update ${{ matrix.composer-flags }} --prefer-dist --no-suggest
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}

      - name: Execute tests
        run: vendor/bin/phpunit
