name: 'Run Tests'

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.can-fail }}
    strategy:
      fail-fast: true
      matrix:
        php: [7.4]
        symfony: [4.4.*, 5.3.*]
        composer-flags: ['--prefer-stable']
        can-fail: [false]
        extensions: ['amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip']
        include:
          - php: 7.4
            symfony: 4.4.*
            composer-flags: '--prefer-stable --prefer-lowest'
            can-fail: false
            extensions: 'amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'
          - php: 7.4
            symfony: 5.4.*@dev
            composer-flags: ''
            can-fail: true
            extensions: 'amqp, curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'
          - php: 8.0
            symfony: 5.3.*
            composer-flags: '--prefer-stable'
            can-fail: false
            extensions: 'curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'
          - php: 8.1
            symfony: 5.3.*
            composer-flags: '--ignore-platform-req=php'
            can-fail: true
            extensions: 'curl, iconv, mbstring, pdo, pdo_sqlite, sqlite, zip'

    name: "PHP ${{ matrix.php }} - Symfony ${{ matrix.symfony }}${{ matrix.composer-flags != '' && format(' - Composer {0}', matrix.composer-flags) || '' }}"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: dependencies-symfony-${{ matrix.symfony }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}-flags-${{ matrix.composer-flags }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, pecl
          extensions: ${{ matrix.extensions }}
          coverage: none

      - name: Install ReactAMQP package
        if: matrix.php == '7.4'
        run: |
          composer require --dev --no-update gos/react-amqp:^0.3

      - name: Install dependencies
        run: |
          composer global require --no-scripts --no-plugins symfony/flex
          composer remove --dev --no-update phpstan/*
          composer update ${{ matrix.composer-flags }} --prefer-dist --no-suggest
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}

      - name: Execute tests
        run: vendor/bin/phpunit
